    <!-- Header -->
    <div id="da-header">
      <div id="da-header-top">
        <!-- Container -->
        <div class="da-container clearfix">
          <!-- Header Toolbar Menu -->
          <div id="da-header-toolbar" class="clearfix">
            <div id="da-user-profile-wrap">
              <div id="da-user-profile" data-toggle="dropdown" class="clearfix">
                <div id="da-user-avatar">
                  <i class="icol-user"></i>
                </div>
                <div id="da-user-info">
                  {{name}}
                  <span class="da-user-title">{{role}}</span>
                </div>
              </div>
              <ul class="dropdown-menu">
                <li><a href="#helpModal" id="da-ex-dialog-m">Ayuda</a></li>
                <li><a href="#aboutModal" role="button" data-toggle="modal">Acerca</a></li>
                <li class="divider"></li>
                <li><a href="logout">Salir</a></li>
              </ul>
            </div>
          </div>
        </div>                    
      </div>
      <div id="da-header-bottom">
        <!-- Container -->
        <div class="da-container clearfix">            
          <!-- Breadcrumbs -->
          <div id="da-breadcrumb">
            <ul>
              <li class="active"><a href="{{location == 'app'?'app':'setup'}}"><i class="{{location == 'app'?'icon-home':'icon-settings'}}"></i>{{location == 'app'? 'Inicio':'Configuración'}}</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>